<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <title>Sky is the limit</title>
    <style>
        #fog::after {
            opacity: <%= constellation[0].fog/10 %>;
        }
        #cloud::after {
            opacity: <%= constellation[0].cloudiness/10 %>;
        }
        #rain::after {
            background-image: url('/img/<%if(constellation[0].precipitation==2){%>rain.png<%}else{%>storm.png<%}%>');
            opacity: <%if(constellation[0]==0){%>0<%}else{%>0.5<%}%>;
        }
    </style>
  </head>
  <body class="bg-dark h-100">
    <div class="container-fluid h-100">
        <div id="cloud">
        <div id="rain">
        <div class="row flex-nowrap" id="fog">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" id="menu">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline"><h1>Sky config</h1></span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/<%=id%>/stars" class="text-decoration-none text-white"><h3>Gwiazdy</h3></a>
                        </li>
                        <form method="POST" action="/<%=id%>/stars/<%if (locals.star){%><%=star[0].id+"/edit"%><%}else{%>add<%}%>">
                            <li class="nav-item m-t-2">
                                Nazwa
                                <input type="text" name="name" class="form-control" placeholder="nazwa" required value="<%if (locals.star){%><%= star[0].name %><%}%>">
                            </li>
                            <li class="nav-item">
                                Opis
                                <input type="text" name="description" class="form-control" placeholder="opis" required value="<%if (locals.star){%><%= star[0].description %><%}%>">
                            </li>
                            <li>
                                Wygląd konstelacji
                                <div class="row">
                                    <% img.forEach(function(row) { %>
                                        <div class='col text-center'>
                                            <input type="radio" name="img" id="img<%=row.id%>" class="d-none imgbgchk" value="<%=row.id%>" 
                                            <% 
                                            if (locals.star){
                                                if(row.id==star[0].img_id){%>checked<%}
                                            }
                                            %>>
                                            <label for="img<%=row.id%>">
                                                <img src="/img/<%= row.link %>" class="img-fluid">
                                                <div class="tick_container">
                                                  <div class="tick"><i class="fa fa-check"></i></div>
                                                </div>
                                            </label>
                                        </div>
                                    <% }); %>
                                </div>
                            </li>
                            <li>
                                <label class="form-label">Priorytet</label>
                                <input type="range" class="form-range" min="0" max="10" name="priority" value="<%if (locals.star){%><%= star[0].priority %><%}%>">
                            </li>
                            <li>
                                <label class="form-label">It's working</label>
                                <input type="checkbox" class="form-check-input" name="active" <%if (locals.star){if(star[0].active==1){%> checked <%}}%>>
                            </li>
                            <li>
                                <input type="submit" class="btn bg-light w-100" value="<%if (locals.star){%><%="Edytuj gwiazdę"%><%}else{%>Dodaj gwiazdę<%}%>">
                            </li>
                        </form>
                            
                            <%if (locals.star){%>
                            <li>
                                <a href="/<%= id %>/stars/<%= star[0].id %>/del"><button class="btn bg-light w-100" style="margin-top: 30px; width: 100%;">Usun giwazdę</button></a>
                            </li>
                            <%}%>             
                    </ul>
                    
                </div>
            </div>
            <div class="col-10 h-100 bg-light">
                <div class="row py-3 bg-dark h-100">
                    <div class="col-2"><img src="/img/<%=moon[0].link%>" class="img-fluid"></div>
                    <% stars.forEach(function(row) { %>
                        <div class='col-1 text-center'>
                            <a href="/<%=id%>/stars/<%= row.id %>"><%if(row.active==1){%><img src="/img/<%= row.link %>" class="img-fluid p-2"><%}else{%><img src="/img/off.png"><%}%></a>
                        </div>
                    <% }); %>
                
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
